@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap");

:root {
  --neon-purple: #a020f0;
  --bg-dark: #0a0a0f;
  --text-light: #f0f0f0;
  --accent: #ff00ff;
}

/*--------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 4px;
}

/*--------------------------------------------------------*/

body {
  font-family: "Orbitron";
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("src/img/fundo-gif.gif");
  color: var(--text-light);
  background-repeat: repeat-x; /* Repete só na horizontal */
  background-size: 100% 100%; /* Como a largura é 50%, cabe 2 vezes certinho */
  line-height: 1.6;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}

/*--------------------------------------------------------*/

.titulo {
  font-size: 4rem;
  color: var(--neon-purple);
  text-align: center;
  margin: 4rem;
}

.sub-titulo {
  font-size: 2.4rem;
}

/*--------------------------------------------------------*/

nav.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 1rem 2rem;
  border: 1px solid var(--neon-purple);
  position: relative;
  z-index: 2;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 6rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-light);
  transition: color 0.3s;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.nav-links a:hover {
  color: var(--accent);
}

/*--------------------------------------------------------*/

main {
  padding: 2rem;
  position: relative;
  z-index: 2;
}

/*--------------------------------------------------------*/

.section {
  margin-bottom: 4rem;
}

/*--------------------------------------------------------*/

h1,
h2 {
  font-size: 2.6rem;
  color: var(--neon-purple);
  margin-bottom: 4rem;
  text-align: left;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

h1,
h2,
p {
  padding-left: 150px;
  padding-right: 150px;
}

/*--------------------------------------------------------*/

.info {
  padding: 3px;
}

.personagem-nome {
  font-size: 2rem;
  font-weight: 600;
  color: var(--neon-purple);
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.personagens-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin: 3rem 150px;
}

.personagem-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem; /* espaço entre o nome e o card */
}

/*--------------------------------------------------------*/

@media (max-width: 1024px) {
  .personagens-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 80px;
  }
}

@media (max-width: 600px) {
  .personagens-grid {
    grid-template-columns: 1fr;
    margin: 2rem 40px;
  }
}

/*--------------------------------------------------------*/

/* Flip Card Styles */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 100%;
  height: 800px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Nova classe para ativar o flip via JS */
.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid var(--neon-purple);
  border-radius: 10px;
  display: block;
}

.flip-card-back {
  background-color: #1a001f;
  color: var(--text-light);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.15rem;
  line-height: 1.4;
  border: 2px solid var(--neon-purple);
}

.flip-card-back h3 {
  margin-bottom: 0.5rem;
  color: var(--accent);
  font-size: 2.2rem;
  text-align: center;
}

.imagem-mapa {
  width: 60%;
  height: auto;
  display: block;
  margin: 20px auto;
}
/* Flip Card Styles */

/*--------------------------------------------------------*/

/* CARD */
.personagem-card {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: transparent;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  color: (var(--neon-purple));
  max-width: fit-content;
  font-family: "Segoe UI", sans-serif;
  font-size: 1.1rem;
}

.personagem-nome {
  font-weight: bold;
  font-size: 1.4rem;
  font-family: "Segoe UI", sans-serif;
}

.personagem-link i {
  color: var(--neon-purple);
  font-size: 1.5rem;
  transition: transform 0.2s ease, color 0.3s ease;
}

.personagem-card:hover i {
  transform: scale(1.2);
  color: var(--neon-purple);
}
/* CARD */

/*--------------------------------------------------------*/

/* MAPA - ZOOM */
.mapa-container {
  max-width: 800px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 2px solid #00ffe1;
  border-radius: 10px;
  margin: 0 auto; /* Centraliza horizontalmente */
  margin-bottom: -30px;
}

.mapa-container img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlay img {
  max-width: 100%;
  max-height: 80%;
  border: 3px solid #00ffe1;
  border-radius: 20px;
  margin-bottom: 50px;
}

.overlay.active {
  display: flex;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 32px;
  color: white;
  cursor: pointer;
  z-index: 1000;
}
/* MAPA - ZOOM */

/*--------------------------------------------------------*/

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-conteudo {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 90vh;
  border-radius: 10px;
}

.fechar {
  position: absolute;
  top: 20px;
  right: 35px;
  color: var(--neon-purple);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
/* Modal */

/*---------------------------------------------------------*/

/* AVISO ESTILO CYBERPUNK - LETREIRO */
.att {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 2px solid var(--neon-purple);
  border-bottom: 2px solid var(--neon-purple);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem 0;
  margin-bottom: 2rem;
  position: relative;
  z-index: 3;
}

.att span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 12s linear infinite;
  font-size: 1.8rem;
  color: var(--accent);
  text-shadow: 0 0 6px var(--accent), 0 0 10px #000;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* AVISO ESTILO CYBERPUNK - LETREIRO */

/*-----------------------------------------------------------*/
/* FOOTER */
.footer {
  text-align: center;
  padding: 1.2rem;
  border-top: 1px solid var(--neon-purple);
  background-color: #120012;
  position: relative;
  z-index: 2;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}
/* FOOTER */
